<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
>
<div class="container-fluid" layout:fragment="content">
    <h1>게시판-조회</h1>
    <table class="table">
            <tr>
                <th th:text="인덱스"></th>
                <td th:text="${boardDTO.idx}"></td>
            </tr>
            <tr>
                <th th:text="제목"></th>
                <td th:text="${boardDTO.title}"></td>
            </tr>
            <tr>
                <th th:text="등록일"></th>
                <td th:text="${boardDTO.displayDate}"></td>
            </tr>
            <tr>
                <td colspan="2" th:text="${boardDTO.content.replace('\r\n','<br>')}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="btnBack" class="btn" th:onclick="redirectToList()">목록으로</button>
                    <button id="btnModify" class="btn" th:onclick="modify()">수정</button>
                    <button id="btnDelete" class="btn" th:onclick="delete()">삭제</button>
                </td>
            </tr>
    </table>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        const queryString = [[${queryString}]];
        const btnBack = document.getElementById("btnBack");
        btnBack.addEventListener("click",()=>{
            location.href="/board/list?"+queryString;
        });
        const btnModify = document.getElementById("btnModify");
        const idx = [[${boardDTO.idx}]];
        btnModify.addEventListener("click",()=>{
            location.href='/board/modify?idx='+idx;
        });
        const btnDelete = document.getElementById("btnDelete");
        btnDelete.addEventListener("click",()=>{
            location.href='/board/delete?idx='+idx;
        });
    </script>
</th:block>